* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    display: flex;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}

.main-content {
    flex: 1;
    background-color: #121212;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.9;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


button {
    background-color: transparent;
    border: 2px solid #e0e0e0;
    color: #e0e0e0;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
    width: 180px;
}

button:hover {
    background-color: #444;
    color: #ff6347;
    border-color: #ff6347;
    transform: translateY(-5px);
}

.tour-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.tour-item {
    background-color: #1f1f1f;
    border: 2px solid #333;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.tour-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.tour-text {
    color: #d1d1d1;
    font-size: 1.2rem;
    margin: 15px 0;
}

.tour-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.tour-image:hover {
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #e0e0e0;
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;
    width: auto;
    text-align: center;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #555;
    color: #ff6347;
    border-color: #ff6347;
    transform: scale(1.05);
}

#goToProfile {
    position: absolute;
    top: 20px;
    right: 20px;
}
