{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <div class="sidebar">
            <a href="/" class="btn">Go to the Main Page</a>
        </div>
        <div class="main-content">
            <h1>Welcome to TripEasy!</h1>
            <button class="btn btn-primary" id="goToProfile">Go to Profile</button>
            <div class="tour-container">
                {% for tour in tours %}
                    <div class="tour-item">
                        <p class="tour-text">{{ tour.text }}</p>
                        <img class="tour-image" src="{{ tour.image }}" alt="Tour Image">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('goToProfile').addEventListener('click', function () {
            window.location.href = '/profile';
        });
    </script>
{% endblock %}
